name: Trion SDK Python Bindings
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v6
      with:
        python-version: '3.10'
        cache: 'pip'
    - run: python -m pip install setuptools pylint numpy
    - name: Analyzing trion_sdk with pylint
      run: pylint trion_api/python
